@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom Scrollbar for Webkit (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.brand.secondary');
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.brand.primary');
  }

  /* Custom Scrollbar for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.brand.secondary') transparent;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
}